.App {
  text-align: center;
}

.Header-Picture {
  border-radius: 30%;
  margin-left: 30vmin;
  margin-right: 15vmin;
  height: 200px;
  pointer-events: none;
}

.Header-Text {
  margin-left: 15vmin;
  margin-right: 30vmin;
  text-align: right;
  line-height: 1.5em;
  font-size: 25px;
  font-style: italic;
}

.Header-Text-Name {
  text-align: left;
  font-weight: bold;
  font-size: 30px;
  font-style: normal;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  padding-top: 20px;
  padding-bottom: 20px;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-color: white;
  /* border-width: 5px;
  border: 1px solid; */
}

.App-body {
  flex-direction: row;
  background-color: #282c34ea;
  min-height: 100vh;
  padding-top: 20px;
  font-size: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
